@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 333 91% 55%;
    --primary-foreground: 333 10% 98%;
    --secondary: 240 5% 94%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 94%;
    --muted-foreground: 240 4% 46%;
    --accent: 333 91% 55%;
    --accent-foreground: 333 10% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 333 91% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 333 91% 55%;
    --primary-foreground: 333 10% 98%;
    --secondary: 240 6% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 15%;
    --muted-foreground: 240 4% 65%;
    --accent: 333 91% 55%;
    --accent-foreground: 333 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 15%;
    --input: 240 6% 15%;
    --ring: 333 91% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
